.pagina-erro{
    min-height: 150vh;

    h1{
        padding: 80px 120px;
        font: 400 36px 'Roboto';
        color: #313131;
    }

    .err{

        width: 500px;
        height: 500px;
        margin-top: 30px;
        margin-left: 560px;

    }
}